/*Styles globales*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(9, 8, 8);
}

/*Header*/
header > nav > ul {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  gap: 5%;
  height: auto;
  width: 100%;
  border-bottom: 1px solid rgb(44, 47, 146);
  background: rgb(28, 27, 27);
}

header > nav > ul > li {
  margin: 1%;
  list-style: none;
}

header > nav > ul > li > a {
  position: relative;
  color: #0057ff;
  font-size: 1.3em;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  transition: color 0.3 ease;
}

header > nav > ul > li > a:hover {
  color: #0057ff;
}

header > nav > ul > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #1a54e5;
  left: 50%;
  bottom: 0;
  transition: all 0.3s ease;
}

header > nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Title*/
h1 {
  color: #0057ff;
  font-family: "Baskervville SC", serif;
  font-size: clamp(16px, 15vw, 45px);
  text-align: center;
  margin: 6vw 2vw;
  letter-spacing: 2%;
}

/*///////////////////////////À propos de moi////////////////////////////////*/

.about-me {
  scroll-margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-text {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: "Baskervville SC", serif;
  font-size: clamp(20px, 4vw, 36px);
  line-height: 1.7em;
  color: #5271ff;
  margin: 3vw 8vw;
}

.intro {
  display: flex;
  margin: 1% auto;
}

.about-me > i {
  position: relative;
  right: 3.1%;
  transform: translateX(-40%);
  font-size: 8vw;
  transform: rotateX(180deg);
  margin-top: 7%;
  filter: drop-shadow(0 -30px 45px rgb(255, 255, 255));
}

/*Le container avec ma carte de visite et la montre*/
.profile-container {
  scroll-margin-top: 200px;
  margin: 10vw auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90vw;
  height: 30vw;
  min-height: 200px;
  min-width: 400px;
}

/*Montre*/
.clock {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Ma carte de visite*/
.business-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
  flex-direction: column;
  width: 50vw;
  height: auto;
  border-radius: 2%;
  border: 1px dotted #0057ff;
  transition: 0.5s ease-in-out;
  padding: 2%;
}

.business-card:hover {
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #501ae5,
    0 0 40px rgba(43, 26, 96, 0.8);
  border-radius: 2%;
  background: radial-gradient(circle, rgba(0, 110, 255, 0.9), rgb(30, 29, 29));
}

.business-card-top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 5%;
  width: 48vw;
  height: auto;
}

.picture-name > h2 {
  background-color: #5271ff;
  border-radius: 4%;
  text-align: center;
}

.picture-name > img {
  width: clamp(100px, 20vw, 200px);
  height: clamp(100px, 20vw, 200px);
  background: transparent;
  border-radius: 20%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}

.picture-name > img:hover {
  transform: rotateX(20deg) translateY(-5px);
}

.personal-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  width: 60%;
  height: auto;
  background-color: #5271ff;
  border-radius: 10%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}

.personal-data > div {
  display: flex;
  align-items: center;
  padding-left: 5%;
  gap: 5%;
  line-height: 1.5em;
  border-bottom: 1px solid #501ae5;
}

.personal-data > strong {
  margin: 3% 2%;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
  color: azure;
}

i {
  width: 15px;
  height: 15px;
  color: #2a0296;
}

.personal-data > div > a {
  color: #2a0296;
  font-family: monospace;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 2%;
}

.social-media-links {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.social-media-links i {
  font-size: 3vw;
  color: #5271ff;
  transition: filter 0.3s ease-in-out;
}

.social-media-links i:hover {
  filter: drop-shadow(0 0 15px rgba(255, 255, 200, 0.9));
}

/*Styles tooltip*/
.tooltip {
  position: relative;
  text-decoration: none;
  color: #0057ff;
  font-weight: bold;
}

.tooltip::after {
  position: absolute;
  bottom: 95%;
  transform: translateX(-45%);
  content: attr(data-tooltip);
  visibility: hidden;
  color: #dedfe2;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

/*////////////////////////////Styles Skills////////////////////////////*/

.skills {
  scroll-margin-top: 130px;
  margin-bottom: 7vw;
}

.skills > h2 {
  color: #1a54e5;
  text-align: center;
  margin: 2vw auto;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  gap: 40px;
  border: 1px solid #0057ff;
  border-radius: 4%;
  max-width: 600px;
  margin: 0 2vw;
  padding: 4%;
}

.skill p {
  margin-top: 30px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: clamp(90px, 4vw, 120px);
  height: clamp(90px, 4vw, 110px);
  background-color: #501ae5;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.skills-container > div > i {
  font-size: 45px;
  width: 60px;
  color: aliceblue;
}

/*//////////////////////////Styles Carrousel///////////////////////////*/

.carousel {
  scroll-margin-top: 70px;
  position: relative;
  box-sizing: content-box;
  width: 60vw;
  min-width: 320px;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 5vw auto;
  /* border: 1px solid #0057ff; */
  padding: 1.5vw;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  position: relative;
}

.slide > img {
  width: 50vw;
  min-width: 280px;
  height: auto;
  object-fit: contain;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 2px solid #0057ff;
  border-left: 2px solid #0057ff;
  border-right: 2px solid #0057ff;
}

.slide h3 {
  margin: 2% auto;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 1.6em;
  font-weight: bold;
}

.caption1,
.caption2,
.caption3 {
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
  margin: 0 auto;
  width: 50vw;
  min-width: 280px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  border-bottom: 2px solid #0057ff;
  border-left: 2px solid #0057ff;
  border-right: 2px solid #0057ff;
}
.caption1 {
  background-color: #81a2cbf5;
  color: white;
}
.caption2 {
  background-color: #e9e9e9;
  color: #637283;
}
.caption3 {
  background-color: #c6ebbe;
  color: #194aad;
}

/*Navigation*/
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 1%;
  border-radius: 25%;
}
.prev {
  left: 3%;
}
.next {
  right: 3%;
}

.prev:hover,
.next:hover {
  background-color: #0057ff;
}

/*////////////////////////////Formulaire de Contact/////////////////////////////////*/

#contact {
  scroll-margin-top: 200px;
  margin: 8vw auto;
  padding-bottom: 200px;
}

.contact-section > h2 {
  text-align: center;
  color: #0057ff;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 5% auto;
  width: clamp(300px, 80vw, 500px);
  height: auto;
  border-radius: 10px;
  gap: 1em;
}

.input-fields {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}

.input-fields input {
  flex: 1;
  padding: 2%;
  text-align: center;
  border: 3px solid #0057ff;
  border-radius: 5px;
  background-color: rgb(201, 228, 251);
  font-size: 16px;
  font-family: monospace;
}

.textarea-field > textarea {
  width: 100%;
  padding: 2%;
  border: 3px solid #0057ff;
  border-radius: 5px;
  background-color: rgb(201, 228, 251);
  font-size: 16px;
  font-family: monospace;
}

.contact-form > button {
  padding: 2%;
  background: linear-gradient(to right, #194aad, #0057ff);
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 3px;
  border-radius: 6px;
  cursor: pointer;
}
.success-message > p {
  font-family: monospace;
  font-size: large;
  color: dodgerblue;
  margin: 10vw auto;
}

@media (max-width: 400px) {
  .clock {
    display: none;
  }
}

@media (max-width: 760px) {
  .about-me {
    margin-bottom: 150px;
  }
  .profile-container {
    scroll-margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 120px;
    width: 90vw;
    height: auto;
  }

  .menu-toggle {
    display: block;
    color: #0057ff;
    font-size: 50px;
    cursor: pointer;
    margin: 2vw;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    border-radius: 5px;
  }

  #nav-links.show {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
    border-bottom: 2px solid #0057ff;
    margin: 60px 10px;
  }
  .business-card {
    width: 80vw;
    margin: 0 auto;
  }

  .business-card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    min-width: 300px;
    height: auto;
  }
  .picture-name {
    margin: 2vw auto;
  }

  .picture-name > img {
    width: auto;
    height: auto;
    border-radius: 5px;
  }
  .personal-data {
    width: auto;
    border-radius: 5px;
  }
  .personal-data div a {
    font-size: 14px;
  }
  .social-media-links i {
    font-size: 6vw;
    color: #5271ff;
    transition: filter 0.3s ease-in-out;
  }
  .skills {
    scroll-margin-top: 120px;
    margin: 120px auto;
  }

  .input-fields {
    display: flex;
    flex-direction: column;
  }
  #contact {
    scroll-margin-top: 150px;
    margin: 300px auto;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about-me {
    margin: 5vw auto;
  }
  .profile-container {
    scroll-margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 150px;
    width: 90vw;
    height: auto;
  }
  .business-card {
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .business-card-top {
    justify-content: center;
  }
  .personal-data {
    min-width: 350px;
  }

  .skills {
    scroll-margin-top: 140px;
    margin: 10vw auto;
  }

  .carousel {
    scroll-margin-top: 100px;
  }

  #contact {
    scroll-margin-top: 300px;
    margin: 300px auto;
  }
}
